.card-container {
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  gap: var(--wa-space-l);
  border: solid 1px var(--wa-color-surface-border);
  border-radius: var(--wa-border-radius-l);
  padding: var(--wa-space-m);
  box-sizing: border-box;
  background-color: var(--wa-color-surface-default);
}

.thumbnail-container {
  border-radius: var(--wa-border-radius-m);
  background-color: red;
  height: 100%;

  &:hover {
    cursor: pointer;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--wa-space-3xl);
}

.details>div {
  display: flex;
  flex-direction: column;
  gap: var(--wa-space-l);
}

.project-details {
  font-size: var(--wa-font-size-2xl);
}

.subtitle {
  display: flex;
  gap: var(--wa-space-l);
}

@container (width > 768px) {
  .card-container {
    grid-template-columns: 3fr 2fr;
  }
}