:root {
  --nav-bar-height: 60px;
  --font-family: "Roboto Condensed", sans-serif;
  --p-no-margin: 0;
  --font-color-primary: var(--wa-color-text-normal);
  --font-color-secondary: var(--wa-color-text-normal);
  --nav-bg-color: light-dark(rgba(255, 255, 255, 0.339), rgba(16, 18, 25, .8));
  --btn-nav-item-bg-color-selected: light-dark(rgba(8, 15, 55, 0.693), rgba(56, 63, 88, 0.573));

  --btn-plain-bg-color-hover: light-dark(rgba(115, 122, 159, 0.269), rgba(30, 34, 51, 0.622));
  --btn-plain-bg-color-active: var(--wa-color-fill-quiet, var(--wa-color-neutral-fill-quiet));
}

html {
  scrollbar-gutter: stable;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

/* utility */
.remove-margin {
  margin: 0;
  margin-block: 0;
}

.font-title {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./fonts/clashDisplay/ClashDisplay-Variable.ttf");
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--wa-color-surface-default);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

#root {
  /* max-width: 1280px; */
  padding: 0;
  margin: 0;
  /* margin-top: calc(var(--nav-bar-height) + 2rem); */

  /* background:blue; */
}


/* based on tailwindCSS breakpoints */
/* apply to screen 1024px and higher */
@media (width>=1024px) {
  #root {
    /* margin: 0 auto; */
    /* margin-top: calc(var(--nav-bar-height) + 2rem); */
  }
}