section.hero {
  --bg-linear-gradient: linear-gradient(to right, #0e0014a0, #0e001429);

  container-type: inline-size;
  height: 70vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.page-container wa-button[class="back-button"] {
  position: absolute;
  top: 100px;
  z-index: 1;
  left: var(--wa-space-s);
}

.hero-settings .disclaimer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 10%;
  color: #f1f2f3d0;

}

.page-container.adminui {
  --btn-plain-bg-color-hover: #392344;
  /* height: 100vh; */
}

.page-container.designimport {
  --btn-plain-bg-color-hover: #1e20317a;
}

.page-container.quickstart {
  --btn-plain-bg-color-hover: #494b5ba0;
}

.page-body {
  display: grid;
  position: relative;
  /* top: -35vh; */
  grid-template-areas:
    "filler content menu";
  grid-template-columns: 1fr 3fr 350px;
  padding: 0 var(--wa-space-l);
  margin: 0 auto;
}

.page-body section {

  padding-top: var(--wa-space-m);
  grid-area: content;
}


page-tree {
  grid-area: menu;
  padding-left: var(--wa-space-l);
}

page-tree::part(base) {
  /* background-color: red; */
  position: sticky;
  top: 85px;
}

.back-button::part(base):hover {
  background-color: var(--btn-plain-bg-color-hover);
}

.back-button::part(base) {
  transition: background-color .3s ease;
  color: var(--font-color-primary);

}

.adminui-hero {
  background-color: var(--wa-color-purple-05);
}

.designimport-hero {
  background-color: #676971;
}

.quickstart-hero {
  background-color: #484a53ee;
}

.aiguardrails-hero {
  background-color: #1e2336;
}


.adminui-hero .hero-text-bg {
  background: linear-gradient(to right, #0d0b0ea0, #0e001429);
}

.designimport-hero .hero-text-bg {
  background: linear-gradient(to right, #000000d3, #28282821);
}

.quickstart-hero .hero-text-bg {
  background: linear-gradient(to right, #000000d3, #35353521);
}

.aiguardrails-hero .hero-text-bg {
  background: linear-gradient(to right, #020202be, #7a7c8311);
}

.hero-text-bg {
  position: absolute;
  height: 100%;
  width: 100%;
}



.hero-settings {

  width: 100%;
  height: 90vh;
  overflow: hidden;
  /* This clips the zooming image */
  position: relative;
}

.hero-settings img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {

  font-size: var(--wa-font-size-4xl);
  font-weight: var(--wa-font-weight-bold);
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 10%;
  color: #f1f2f3;
}

.hero-text p:not([class="desc"]) {
  font-family: var(--font-family);
  margin: 0;
}

.hero-text .sub-details {
  display: flex;
  font-size: var(--wa-font-size-l);
  align-items: center;
  gap: var(--wa-space-m);
  font-weight: var(--wa-font-weight-normal);
}

.hero-text wa-icon {
  font-size: var(--wa-font-size-2xs);
}

.hero-text .short-desc p {
  margin-top: var(--wa-space-2xl);
  font-size: var(--wa-font-size-m);
  font-weight: var(--wa-font-weight-normal);
  color: #f1f2f3;
}


.personas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--wa-space-m);
}

.box {
  display: grid;
  grid-template-columns: 70px 3fr;
  align-items: center;
  border: 1px solid #999;
  padding: 12px 24px;
  background-color: var(--wa-color-surface-raised);
  border-color: var(--wa-color-surface-border);
  border-radius: var(--wa-border-radius-l);

  & wa-icon {
    font-size: var(--wa-font-size-2xl);
  }

}

@media (width<1199px) {
  .page-body {
    grid-template-columns: 1fr;
    grid-template-areas: "menu" "content" "filler";
    max-width: 768px;
  }

  page-tree {
    margin-top: var(--wa-space-2xl);
    padding-left: 0;
  }

  .page-body section {

    padding-top: var(--wa-space-2xl);
  }

  .personas {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

}