.work-container {
  padding: 0 var(--wa-space-m);
  max-width: 1280px;
  min-height: 100vh; /*to remove that layout shift*/
  margin: 0 auto;
  margin-top: calc(var(--nav-bar-height) + 2rem);
}

wa-tab-group {
  &::part(tabs) {
    border-bottom: solid transparent;
  }

  &::part(base) {
    container-type: inline-size;
  }
}


/* wa-tab-panel */
wa-tab-panel>div {
  display: flex;
  flex-direction: column;
  gap: var(--wa-space-l);
}

wa-tab[active]::part(base) {
  color: var(--wa-color-text-normal);
  transition: color .5s;
  border-block-end: solid 2px var(--wa-color-text-normal);
  margin-block-end: -2px;
}

wa-tab::part(base) {
  color: var(--wa-color-text-quiet);
}

wa-tab::part(base):hover {
  color: var(--wa-color-text-normal);
  transition: color .2s;
}